<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.entity.Users">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="ISADMIN" jdbcType="VARCHAR" property="isadmin" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, PASSWORD, TELEPHONE, USERNAME, ISADMIN
  </sql>
  <!--登录查询语句  -->
   <select id="selectUserLogin" parameterType="com.entity.Users" resultMap="BaseResultMap">
    select 
    from users
    where NAME = #{name} AND PASSWORD = #{password}
  </select>
  <!-- 新增用户语句  -->
  <insert id="insertUser" parameterType="com.entity.Users" resultMap="java.lang.Integer" >
    insert into users ( ID, NAME, PASSWORD, 
      TELEPHONE, USERNAME, ISADMIN
      )
    values (default,#{name}, #{password}, 
      #{telephone}, #{username}, #{isadmin}
      )
      
  </insert>
  
  <!-- 删除用户语句 -->
  <delete id="deleteUser" parameterType="java.lang.Integer" resultMap="java.lang.Integer">
    delete from users
    where ID = #{id}
  </delete>
  <!-- 修改用户语句 -->
  <update id="updateUser" parameterType="com.entity.Users" resultMap="java.lang.Integer">
    update users
    set NAME = #{name},
      PASSWORD = #{password},
      TELEPHONE = #{telephone},
      USERNAME = #{username},
      ISADMIN = #{isadmin}
    where ID = #{id}
  </update>
  
<!-- ****************分割线*********************** -->  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from users
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Users">
    insert into users (ID, NAME, PASSWORD, 
      TELEPHONE, USERNAME, ISADMIN
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{isadmin,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Users">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="telephone != null">
        TELEPHONE,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="isadmin != null">
        ISADMIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="isadmin != null">
        #{isadmin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Users">
    update users
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="isadmin != null">
        ISADMIN = #{isadmin,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Users">
    update users
    set NAME = #{name,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      ISADMIN = #{isadmin,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.entity.Users">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="ISADMIN" jdbcType="VARCHAR" property="isadmin" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, PASSWORD, TELEPHONE, USERNAME, ISADMIN
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from users
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from users
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Users">
    insert into users (ID, NAME, PASSWORD, 
      TELEPHONE, USERNAME, ISADMIN
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{isadmin,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Users">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="telephone != null">
        TELEPHONE,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="isadmin != null">
        ISADMIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="isadmin != null">
        #{isadmin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Users">
    update users
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="isadmin != null">
        ISADMIN = #{isadmin,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Users">
    update users
    set NAME = #{name,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      ISADMIN = #{isadmin,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>